<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anson.school_books_system.mapper.CarouselMapMapper">

    <resultMap id="BaseResultMap" type="com.anson.school_books_system.po.CarouselMap">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,img_url,weight,
        create_time,creator,update_time,
        modifier
    </sql>
</mapper>
