<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anson.school_books_system.mapper.UserReturnBookInfoMapper">

    <resultMap id="BaseResultMap" type="com.anson.school_books_system.po.UserReturnBookInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="returnCount" column="return_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,book_id,
        return_count,create_time,update_time
    </sql>

    <select id="page" resultType="com.anson.school_books_system.api.vo.UserReturnBookInfoVO">
        SELECT
        a.*,
        b.book_number,
        b.cover_url,
        b.book_name,
        c.student_number,
        c.name
        FROM user_return_book_info a
        LEFT JOIN book b ON a.book_id = b.id
        LEFT JOIN `user` c ON a.user_id = c.id
        <where>
            <if test="query.userId != null">
                AND c.id = #{query.userId}
            </if>
            <if test="query.bookNumber != null and query.bookNumber != ''">
                AND b.book_number LIKE CONCAT('%', #{query.bookNumber}, '%')
            </if>
            <if test="query.bookName != null and query.bookName != ''">
                AND b.book_name LIKE CONCAT('%', #{query.bookName}, '%')
            </if>
            <if test="query.studentNumber != null and query.studentNumber != ''">
                AND c.student_number LIKE CONCAT('%', #{query.studentNumber}, '%')
            </if>
            <if test="query.name != null and query.name != ''">
                AND c.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.startTime != null">
                AND a.create_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND a.create_time &lt; adddate(#{query.endTime}, 1)
            </if>
        </where>
    </select>
</mapper>
